header {
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    box-sizing: border-box;
    background-color: rgb(67, 130, 222);
    overflow: hidden;
}

header h1 {
    line-height: 100px;
    color: #fff;
    cursor: pointer;
    text-indent: 1em;
}

.user_info {
    color: #fff;
    letter-spacing: 2px;
    line-height: 48px;
    padding: 0 12px;
    composes: r from './reset.css';
}

.user_info a {
    color: #fff;
}

.main_body {
    margin-top: 100px;
    min-height: 100px;
    height: auto;
    composes: oh from './reset.css';
    composes: c from './reset.css';
}

.main_content {
    padding: 12px;
    composes: oa from './reset.css';
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

._error {
    margin-top: 128px;
    width: 420px;
    text-align: center;
    composes: m from './reset.css';
}

._error svg {
    width: 260px;
}

._error>p {
    font-size: 18px;
    color: #999;
    margin-top: 36px;
}
